#filler {
  height: 60px;
}

.landing-underline {
  margin: 5% 4%;
  border: 0.5px solid #a346a355;
  border: 0.5px solid #a346a355;
}

.landing-page-bg {
  background-image: url("../../images/BackgroundImage.jfif");
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-color: rgb(97, 97, 97);
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: -10px;
  z-index: -10;
  padding: 0;
  width: 100%;
  height: calc(100vh - 20px);
}

/* LOGO STYLING */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1200px;
  height: calc(100vh - 50px);
}

#app-name {
  color: white;
  margin-top: 10rem;
  font-size: 3.2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

#tagline {
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;
}

.landing-signup-a {
  border: 1px solid white;
  border-radius: 1.2rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em 0.6em;
  cursor: pointer;
  transition: ease 0.7s;
}

.landing-signup-a:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
}

.landing-to-about {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: ease 0.3s;
}

.landing-to-about:hover {
  color: #a346a3;
}
/* END OF LOGO STYLING */


/* ABOUT STYLING */
.about-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-description {
  width: 85%;
  line-height: 1.7em;
  font-size: 16px;
  text-align: center;
}
/* END OF ABOUT STYLING */


/* FEATURES STYLING */
img {
  width: 90%;
  max-width: 700px;
}

.feature-title {
  margin-top: 0;
}

.feature-p {
  width: 96%;
  margin: auto;
  font-size: 14px;
  line-height: 1.4em;
}

#last-feature {
  margin-bottom: 3em;
}
/* END OF FEATURES STYLING */

/* SCROLL TO TOP STYLING */
.scroll-div {
  border: 2.5px solid #a346a3;
  border-radius: 12px;
  padding: 12px 5px;
  background-color: white;
  opacity: 0.85;
  position: fixed;
  bottom: 50px;
  right: 17px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: ease 0.2s;
}

.scroll-div:hover {
  box-shadow: 0 0 10px black;
}

.scroll-p {
  color: #a346a3;
  font-weight: bold;
  margin: 7px 0px;
}

.scroll-top-button {
  color: #a346a3;
  font-weight: bolder;
  font-size: 19px;
}
/* END OF SCROLL TO TOP */

@media only screen and (min-width: 600px) {
  #app-name {
    font-size: 3.4rem;
  }
  #tagline {
    font-size: 1.3rem;
  }
  #first-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #first-feature img {
    width: 55%;
  }
  .feature-description {
    width: 40%;
  }
  #second-feature {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  #second-feature img {
    width: 55%;
  }
  #last-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #last-feature img {
    width: 55%;
  }
}

@media only screen and (min-width: 750px) {
  #app-name {
    font-size: 3.5rem;
  }
  #tagline {
    font-size: 1.35rem;
  }
  .about-description {
    font-size: 17.5px;
  }
  .feature-p {
    font-size: 15.5px;
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 900px) {
  #app-name {
    font-size: 3.6rem;
  }
  #tagline {
    font-size: 1.4rem;
  }
  .about-description {
    font-size: 17.5px;
  }
  .feature-description {
    font-size: 18px;
  }
  .feature-p {
    font-size: 16.5px;
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  #app-name {
    font-size: 3.75rem;
  }
  .about-description {
    width: 70%;
    font-size: 21px;
    line-height: 1.75em;
  }
  .feature-description {
    font-size: 20px;
  }
  .feature-p {
    font-size: 18px;
    line-height: 1.65em;
  }
}

@media only screen and (min-width: 1350px) {
  #app-name {
    font-size: 3.8rem;
  }
  .about-description {
    width: 70%;
    font-size: 24px;
    line-height: 1.8em;
  }
  .feature-description {
    font-size: 24px;
  }
  .feature-p {
    font-size: 20px;
    line-height: 1.7em;
  }
}

@media only screen and (min-width: 1500px) {
  #app-name {
    font-size: 4rem;
  }
  #tagline {
    font-size: 1.5rem;
  }
  .about-description {
    width: 65%;
    font-size: 26.5px;
    line-height: 2em;
  }
  .feature-description {
    font-size: 25px;
  }
  .feature-p {
    font-size: 22.5px;
    line-height: 1.8em;
  }
}