.sort-div {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

#sort-options {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid grey;
}

@media only screen and (min-width: 750px) {
  #sort-options {
    width: 200px;
  }
}

@media only screen and (min-width: 750px) {
  #sort-options {
    width: 250px;
  }
}