.list-entry {
  width: 95%;
  border-radius: 12px;
  margin: auto;
  margin-bottom: 1.5em;
}

.list-h2 {
  margin: 0 0 0.5em 0;
  display: inline-block;
  color: white;
}

.color {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(12, 15, 77);
  padding-bottom: 0.3em;
}

.menu-ellipsis {
  font-size: 14px;
  color: white;
}

.delete-confirm {
  text-align: center;
}

#no-delete-list-button, #delete-list-button {
  border: 1px solid rgb(104, 104, 104);
  border-radius: 3px;
  width: 70px;
  cursor: pointer;
}

#delete-list-button {
  background-color: rgb(209, 2, 2);
  color: white;
  margin-right: 0.5em;
}

.delete-h3 {
  margin-top: 0;
}

#event-date {
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  font-size: 24px;
}


/* DROPDOWN MENU STYLING */
.dropdown-list {
  height: 20px;
  /* Relative position makes it so that the dropdown menu starts at the edge of the button */
  position: relative;
  text-align: right;
  margin-right: 1em;
}

.dropbtn-list {
  width: 30px;
  padding: 0;
  background-color: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropbtn-list:focus {
  outline: none;
}

#dropdown-menu-list {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 4px grey;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.dropdown-btn-list {
  width: 93px;
  display: block;
  color: black;
  background-color: white;
  padding: 3px 0 3px 0;
}

.dropdown-btn-list:hover {
  background-color: rgb(50, 50, 255);
}

#dropdown-edit {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#dropdown-reset {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#delete-button, #edit-button, #reset-button {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-align: right;
}

#delete-button:focus, #edit-button:focus, #reset-button:focus {
  outline: none;
}

#delete-button:hover, #edit-button:hover, #reset-button:hover {
  color: white;
}

.times-icon {
  font-size: 14px;
  color: red;
}
/* END OF DROPDOWN MENU STYLING */


@media only screen and (min-width: 550px) {
  .list-entry {
    width: 80%;
  }
}

@media only screen and (min-width: 650px) {
  .list-entry {
    width: 75%;
  }
}

@media only screen and (min-width: 750px) {
  .list-entry {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .list-entry {
    width: 65%;
  }
}

@media only screen and (min-width: 800px) {
  .list-entry {
    width: 530px;
  }
}

@media only screen and (min-width: 950px) {
  .list-entry {
    width: 90%;
  }
}

@media only screen and (min-width: 1250px) {
  .list-entry {
    width: 85%;
  }
}

@media only screen and (min-width: 1300px) {
  .list-entry {
    width: 90%;
  }
}

@media only screen and (min-width: 1800px) {
  .list-entry {
    width: 83%;
  }
}

@media only screen and (min-width: 1900px) {
  .list-entry {
    width: 93%;
  }
}

@media only screen and (min-width: 2300px) {
  .list-entry {
    width: 90%;
  }
}

@media only screen and (min-width: 2500px) {
  .list-entry {
    width: 87%;
  }
}