.list-entry {
  width: 95%;
  border-radius: 12px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 1.5em;
}

.list-h2 {
  margin: 0 0 0.5em 0;
  display: inline-block;
}

.underline {
  border: 0;
  height: 2px;
  border-top: 1px solid rgb(70, 220, 70);
  margin-top: 0;
  margin-bottom: 1em;
}

.color {
  background-color: rgb(70, 220, 70);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* DROPDOWN MENU STYLING */
.dropdown {
  height: 20px;
  /* Relative position makes it so that the dropdown menu starts at the edge of the button */
  position: relative;
  text-align: right;
  margin-right: 1em;
}

.dropbtn {
  width: 30px;
  padding: 0;
  background-color: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {
  outline: none;
}

#dropdown-menu {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 4px grey;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.dropdown-btn {
  width: 93px;
  display: block;
  color: black;
  background-color: white;
  padding: 3px 0 3px 0;
}

.dropdown-btn:hover {
  background-color: rgb(50, 50, 255);
}

#dropdown-edit {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#dropdown-reset {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#delete-button, #edit-button, #reset-button {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-align: right;
}

#delete-button:focus, #edit-button:focus, #reset-button:focus {
  outline: none;
}

#delete-button:hover, #edit-button:hover, #reset-button:hover {
  color: white;
}

.times-icon {
  font-size: 14px;
  color: red;
}
/* END OF DROPDOWN MENU STYLING */