.items-div {
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-top: 0.8em;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.items-div-individual {
  max-height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* STYLING FOR CHECKBOX INPUT */
.item-div {
  position: relative;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-div label {
  position: absolute;
  left: 5px;
  top: 0;
  height: 22.5px;
  width: 22.5px;
  background-color: #fff;
  border: 1.15px solid darkgrey;
  border-radius: 50%;
  cursor: pointer;
}

.item-div label:after {
  position: absolute;
  left: 5px;
  top: 6px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  opacity: 0;
  transform: rotate(-45deg);
}

.item-div input[type="checkbox"] {
  visibility: hidden;
}

.item-div input[type="checkbox"]:checked + label {
  background-color: rgb(163, 70, 163);
  border-color: rgb(163, 70, 163);
}

.item-div input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* END OF CHECKBOX STYLING */

.delete-item-button {
  /* margin-left: 0.5em; */
  margin-right: 3%;
  color: red;
  cursor: pointer;
  flex-basis: 5%;
}

.add-item-button {
  color: rgb(43, 184, 36);
  font-size: 20px;
  margin: auto 0 0.3em 0;
  cursor: pointer;
  align-self: center;
}

.add-item-button-individual {
  color: rgb(43, 184, 36);
  font-size: 20px;
  margin: 0.3em 0 0.3em 0;
  cursor: pointer;
  align-self: center;
}

.item-checkbox {
  flex-basis: 10%;
}

/* .expand {
  text-align: right;
} */

/* .react-expand-collapse__button {
  position: absolute;
  right: 12.5em;
  color: blue;
  font-size: 12px;
  text-decoration: underline;
} */

@media only screen and (min-width: 500px) {
  .item-div label {
    left: 1em;
  }
}

@media only screen and (min-width: 1050px) {
  .item-div label {
    left: 1.4em;
  }
}