.CalenderContainer {
  width: 100%;
  margin: 25px auto;
  margin-top: 0;
  background-color: white;
  color: #A346A3;
  border: 1px solid rgb(206, 206, 206);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
  padding-bottom: 1em;
}

.rbc-toolbar {
  display: flex;
  flex-direction: column-reverse;
}

.rbc-toolbar-label {
  font-size: 17px;
  font-weight: bold;
  margin: 0.5em 0;
}

#remove {
  display: none;
}

.rbc-btn-group button {
  font-size: 12px;
  font-weight: bold;
  color: #A346A3;
  border-color: #A346A3;
  padding: 3px 6px;
  cursor: pointer;
}

.rbc-btn-group button:hover {
  color: white;
  background-color: #A346A3;
  font-weight: bold;
}

.rbc-btn-group button:focus {
  color: white;
  background-color: #A346A3;
  font-weight: bold;
}

.rbc-event {
  background-color: #A346A3 !important;
}

@media only screen and (min-width: 650px) {
  .CalenderContainer {
    width: 580px;
  }
}

@media only screen and (min-width: 750px) {
  .rbc-toolbar-label {
    font-size: 20px;
  }
}

@media only screen and (min-width: 950px) {
  .CalenderContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .rbc-toolbar-label {
    font-size: 26px;
  }
}