.home-div {
  margin-top: 90px;
}

.loading-li {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 6px black;
  font-weight: bold;
  margin-top: 1em;
}

/* STYLING FOR UPCOMING EVENT */
#upcoming-home-div {
  margin-bottom: 1.5em;
  height: 170px;
}

.upcoming-event-div {
  background: rgb(213,97,2);
  background: radial-gradient(circle, rgba(213,97,2,1) 0%, rgba(213,97,2,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  width: 92%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid rgb(230, 198, 21);
  border-bottom: none;
  margin: auto;
}

.upcoming-h2 {
  background-color: radial-gradient(circle, rgba(240,184,0,0.9251050762101716) 0%, rgba(233,226,0,0.8130602582830007) 100%, rgba(0,212,255,1) 100%);
  text-shadow: 1px 1px 6px black;
  margin-bottom: 0;
  font-size: 26px;
}

#container {
  background: rgb(213,97,2);
  background: radial-gradient(circle, rgba(213,97,2,1) 0%, rgba(213,97,2,1) 100%, rgba(0,212,255,1) 100%);
  width: 92%;
  margin: auto;
  padding: 20px 0 20px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgb(230, 198, 21);
  border-top: none;
}

.upcoming-div {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 20px 20px rgba(0, 0, 0, 0.24);
  background-color: white;
  opacity: 0.85;
  border-radius: 100px;
  width: 95%;
  height: 50px;
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.upcoming-div:hover {
  opacity: 0.95;
}

#upcoming-container {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#upcoming-goto {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

.upcoming-title, .upcoming-date {
  margin: 0;
}

.upcoming-title {
  font-weight: bold;
}

.upcoming-date {
  font-size: 13px;
}

.go-to {
  font-size: 17px;
  font-weight: bold;
}

.no-event {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
}
/* END OF UPCOMING EVENT */


/* STYLING FOR GENERAL LISTS */
.general-home-div {
  margin-bottom: 1.5em;
}

.title-div-general {
  background-color: #a346a3;
  color: white;
  width: 92%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  border-bottom: none;
  margin: auto;
  padding-bottom: 1.5em;
}

.general-home-h2 {
  text-shadow: 1px 1px 6px black;
  margin-bottom: 0;
  font-size: 26px;
}

.general-ul {
  background-color: #a346a3;
  width: 92%;
  height: 325px;
  margin: 0;
  margin: auto;
  padding: 20px 0 20px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  border-top: none;
  list-style: none;
  padding: 0;
  color: black;
  padding-bottom: 20px;
  overflow: auto;
}

.li-div {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 20px 20px rgba(0, 0, 0, 0.24);
  background-color: white;
  opacity: 0.85;
  border-radius: 100px;
  width: 95%;
  height: 30px;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-transition: height 0.25s ease;
  -moz-transition: height 0.25s ease;
  -o-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.li-div:hover {
  height: 40px;
}

.general-li {
  margin-left: 1.5em;
  font-weight: bold;
}

.go-to-general {
  margin-right: 1.5em;
  font-weight: bold;
}
/* END OF GENERAL LISTS */


/* STYLING FOR EVENT LISTS */
.event-home-div {
  width: 92%;
  margin: auto;
  margin-bottom: 3em;
}

.title-div-event {
  background-color: #a346a3;
  color: white;
  width: 100%;
  margin: auto;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  border-bottom: none;
  padding-bottom: 1.5em;
}

.event-home-h2 {
  text-shadow: 1px 1px 6px black;
  margin-bottom: 0;
  font-size: 26px;
}

.event-ul {
  background-color: #a346a3;
  width: 92%;
  height: 325px;
  margin: auto;
  padding: 20px 0 20px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  border-top: none;
  list-style: none;
  padding: 0;
  color: black;
  padding-bottom: 20px;
  overflow: auto;
}

.li-div {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 20px 20px rgba(0, 0, 0, 0.24);
  background-color: white;
  opacity: 0.85;
  border-radius: 100px;
  width: 95%;
  height: 30px;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-transition: height 0.25s ease;
  -moz-transition: height 0.25s ease;
  -o-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.li-div:hover {
  height: 40px;
}

.event-li {
  margin-left: 1.5em;
  font-weight: bold;
}

.go-to-event {
  margin-right: 1.5em;
  font-weight: bold;
}
/* END OF EVENT LISTS */

@media only screen and (min-width: 650px) {
  .upcoming-event-div {
    width: 580px;
  }
  #container {
    width: 580px;
  }
  .title-div-general, .title-div-event {
    width: 580px;
  }
  .general-ul, .event-ul {
    width: 580px;
    height: 285px;
  }
  .upcoming-h2 {
    font-size: 28px;
  }
  .upcoming-div {
    width: 520px;
    align-items: center;
    margin-bottom: 0.5em;
  }
  #upcoming-container {
    display: inline-block;
  }
  .upcoming-title, .upcoming-date {
    display: inline-block;
  }
  .upcoming-title {
    margin-right: 1em;
    font-size: 18px;
  }
  .upcoming-date {
    font-size: 13px;
  }
  .general-home-h2 {
    font-size: 28px;
  }
  .general-ul {
    padding-top: 1em;
  }
  .li-div {
    width: 46%;
    height: 35px;
    float: left;
    margin-left: 2.7%;
    margin-bottom: 1em;
  }
  .li-div:hover {
    height: 35px;
    opacity: 0.95;
  }
  .event-home-h2 {
    font-size: 28px;
  }
  .event-ul {
    padding-top: 1em;
  }
  .event-home-div {
    margin-bottom: 3.5em;
  }
}

@media only screen and (min-width: 950px) {
  .home-div {
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .upcoming-general-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* height: 70vh; */
  }

  .upcoming-event-div, #container {
    width: 80%;
    margin-right: 5%;
  }

  .upcoming-div {
    width: 90%;
  }

  .upcoming-title {
    margin-right: 0.5em;
  }

  .title-div-general, .general-ul {
    width: 80%;
    margin-right: 5%;
  }

  .general-ul {
    margin-bottom: 2em;
    height: 370px;
  }
  
  .title-div-event {
    width: 100%;
  }

  .event-home-div {
    width: 60%;
    margin: 0;
    margin-right: 5%;
  }
}