.search-form {
  height: 30px;
  margin-bottom: 0.5em;
}

.search-input {
  height: 95%;
  width: 190px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 1px solid black;
  border-right: none;
  padding: 0;
}

.search-input::placeholder {
  padding-left: 3%;
}

.search-button {
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid rgb(34, 189, 34);
  background-color: rgb(34, 189, 34);
  color: white;
  cursor: pointer;
  padding-top: 0.1em;
}

@media only screen and (min-width: 750px) {
  .search-input {
    width: 230px;
  }
  .search-button {
    width: 70px;
  }
}

@media only screen and (min-width: 1250px) {
  .search-input {
    width: 280px;
  }
  .search-button {
    width: 80px;
  }
}