.appnav-header {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 60px;
}

.appnav-logo-header {
  display: flex;
  align-items: center;
  margin-left: 2%;
  width: 50%;
}

.appnav-title {
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 0.3em;
  transition: all 0.3s ease 0s;
}

.appnav-title:hover {
  color: rgb(129, 22, 129);
}

.appnav {
  display: none;
}

.appnav-links {
  list-style: none;
}

.appnav-li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1em;
}

.appnav-li:hover {
  color: rgb(129, 22, 129);
}

#dropdown-li {
  display: none;
}

/* HAMBURGER MENU STYLING */
.hamburger {
  color: white;
  height: 70px;
  line-height: 70px;
  width: 19px;
  margin-right: 1em;
}

.hamburger-logo {
  font-weight: bold;
  font-size: 18px;
  margin-right: 0.3em;
}

.menu {
  margin: 0;
  display: none;
  text-align: center;
}

#menu-close {
  color: rgb(129, 22, 129);;
  font-size: 18px;
}

#menu-close:hover {
  color: white;
}

.menu li {
  clear: right;
  display: block;
  border-left: 1px solid rgb(129, 22, 129);
  border-right: 1px solid rgb(129, 22, 129);
  background-color: white;
  color: rgb(129, 22, 129);
  text-decoration: none;
  width: 80px;
  height: 65px;
  margin: 0;
  float: right;
  font-size: 14px;
  padding: 0 10px 0 10px;
}

.menu li:hover {
  background-color: rgb(129, 22, 129);
  color: white;
}

.appnav-li-first {
  border-top: 1px solid rgb(129, 22, 129);
  border-top-left-radius: 5px;
}

.appnav-li-last {
  border-bottom: 1px solid rgb(129, 22, 129);
  border-bottom-left-radius: 5px;
}

.hamburger-logo {
  cursor: pointer;
  float: right;
  margin-right: 10%
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

.hamburger-logo:hover {
  color: rgb(129, 22, 129);
}

/* END HAMBURGER MENU STYLING */

@media only screen and (min-width: 750px) {
  .appnav-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1300px) {
  .hamburger {
    display: none;
  }

  #home-menu {
    margin-right: 0;
  }
  
  #logout-menu {
    padding-left: 0;
  }

  /* DROPDOWN MENU STYLING */
  #dropdown-li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px 10px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
    width: 71%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 1px;
    border: 1px solid rgb(129, 22, 129);;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    min-width: 90px;
    z-index: 1;
  }

  .dropdown-link {
    color: rgb(129, 22, 129);
    width: 92px;
    height: 61.4px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease 0s;
  }

  .dropdown-link:hover {
    color: white;
    background-color: rgb(129, 22, 129);
  }

  .selected {
    color: rgb(129, 22, 129);
  }

  .selected-dropdown {
    color: white;
    background-color: rgb(129, 22, 129);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .dropdown:hover .dropbtn {
    color: rgb(129, 22, 129);
  }

  .dropdown-span {
    font-size: 14px;
  }
  /* END DROPDOWN MENU STYLING */

  .appnav {
    display: inline-block;
  }

  .appnav-li {
    font-size: 17px;
    padding: 0 10px;
  }
}