.top-div-register {
  margin-top: 95px;
}

.red {
  color: red;
  font-size: 20px;
  margin-bottom: 1.2em;
}

.login-section {
  width: 300px;
  text-align: center;
  margin: auto;
  border: 0.5px solid rgb(107, 107, 107);
  border-radius: 5px;
  box-shadow: 0 0 30px #000000;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #392061;
  border-bottom: 1px solid #392061;
  margin-bottom: 2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-header {
  margin: 0;
  color: white;
  font-size: 32px;
}

.login-form {
  margin: 0 auto 0 auto;
}

.login_labels-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  margin-bottom: 0.4em;
  font-size: 17px;
  font-weight: 550;
}

.login-input {
  width: 217px;
  height: 25px;
  border: 0.5px solid rgb(204, 204, 204);
}

#login-username {
  margin-bottom: 1.2em;
}

.login-buttons {
  width: 299.6px;
  height: 70px;
  margin-top: 1em;
  background-color: #392061;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
}

.to-register-p {
  margin-top: 3.5em;
  margin-bottom: 0;
  font-size: 13px;
}

.login-button {
  width: 100%;
  color: white;
  background-color: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: ease 0.4s;
}

.login-button:hover {
  background-color: black;
  font-size: 17.5px;
}

@media only screen and (min-width: 400px) {
  .login-section {
    width: 320px;
  }
  .login-buttons {
    width: 319.6px;
  }
}

@media only screen and (min-width: 500px) {
  .top-div-register {
    margin-top: 120px;
  }  
}