.general-lists {
  margin-top: 70px;
}

.list-render-div {
  margin-bottom: 3em;
}

#create-list-button {
  height: 35px;
  border-radius: 30px;
  width: 140px;
  border: 1px solid #b14ee6;
  background-color: #b14ee6;
  color: white;
  cursor: pointer;
  margin-bottom: 1em;
  transition: ease 0.4s;
}

#create-list-button:hover {
  border: 1px solid #9742c5;
  background-color: #9742c5;
}

#create-list-button:active {
  border: 1px solid #9742c5;
  background-color: #9742c5;
}
  
.list-direct {
  margin: 0 0 0.8em 0;
  display: flex;
  justify-content: center;
}

.general-direct, .event-direct {
  border: 1px solid rgb(163, 70, 163);
  padding: 8px 10px 8px 10px;
  font-weight: bold;
  cursor: pointer;
}

.general-direct {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  background-color: rgb(163, 70, 163);
}

.event-direct {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(163, 70, 163);
  background-color: white;
}

.search-h4 {
  display: inline-block;
  text-decoration: underline;
  margin-top: 0.4em;
}

@media only screen and (min-width: 750px) {
  #create-list-button {
    margin-bottom: 1.8em;
  }
  .general-direct, .event-direct {
    width: 80px;
  }
}

@media only screen and (min-width: 950px) {
  .list-render-div {
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1250px) {
  .general-direct, .event-direct {
    width: 90px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1300px) {
  .list-render-div {
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  #create-list-button {
    width: 180px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1900px) {
  .list-render-div {
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 25% 25% 25% 25%;
  }
}